{{ source_env_text }}{% if not source_env_text.endswith('\n') %}
{% endif %}DATABASE_MODE=private
ADMIN_DATABASE_URL=postgresql://agentify_commerce:{{ db_credentials.admin_password }}@{{ private_alias }}:5432/{{ private_db }}
WEB_DATABASE_URL=postgresql://agentify_web:{{ db_credentials.web_password }}@{{ private_alias }}:5432/{{ private_db }}
WORKER_DATABASE_URL=postgresql://agentify_worker:{{ db_credentials.worker_password }}@{{ private_alias }}:5432/{{ private_db }}
PRIVACY_DATABASE_URL=postgresql://agentify_privacy:{{ db_credentials.privacy_password }}@{{ private_alias }}:5432/{{ private_db }}
DASHBOARD_DATABASE_URL=postgresql://agentify_dashboard:{{ db_credentials.dashboard_password }}@{{ private_alias }}:5432/{{ private_db }}
POSTGRES_WEB_PASSWORD={{ db_credentials.web_password }}
POSTGRES_WORKER_PASSWORD={{ db_credentials.worker_password }}
POSTGRES_PRIVACY_PASSWORD={{ db_credentials.privacy_password }}
POSTGRES_DASHBOARD_PASSWORD={{ db_credentials.dashboard_password }}
RECONCILE_RUNTIME_ROLE_PASSWORDS=true
ROLE_PASSWORD_ROTATION_MAINTENANCE_ACK=true
